<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="../assets/css/carousel-images.css">

<div class="w3-content w3-section carousel">
  <img class="mySlides" src="../assets/images/circle-2.jpg" style="width:100%">
  <img class="mySlides" src="../assets/images/images.jpg" style="width:100%">
  <img class="mySlides" src="../assets/images/circle-2.jpg" style="width:100%">
</div>

<script src="../assets/js/carousel-images.js"></script>