<div class="testimonials-container">
  <div class="slideshow-container">

    <!-- Full-width slides/quotes -->
    <div class="testimonials-slide">
      <div class="image-container"><img
          class="pozaa"
          src="{{asset 'images/mentora.jpeg'}}"
        /></div>
      <p>Participating in PoliHack was like an exciting journey into the world of technology, 
        where I had the chance to learn, create, and collaborate with passionate and talented individuals. 
        Our team worked hard, but also enjoyed our time together in a friendly and stimulating environment.
         PoliHack is not just a hackathon, but also a place where you can feel inspired and motivated to 
         explore your creative and technical potential.</p>
      <p class="author">- Murariu Georgiana-Roxana</p>
    </div>

    <div class="testimonials-slide">
      <div class="image-container"><img
          class="pozaa"
          src="{{asset 'images/mentorb.jpeg'}}"
        /></div>
      <p>For me, Polihack's story begins in college, as an OSUT volunteer. I liked the idea, and I was 
        excited about the concept of developing and present 'something' in such a short time. 2 years later, 
          I was making two successful editions, as coordinator of the project. For me it remains a project close 
          to my heart in which I get involved with love and I try to help in every edition. It is the place where
          many young people took their first steps in entrepreneurship, and the place where valuable teams and 
          ideas were formed for the start-up community in Cluj. I am glad that I was able to contribute to the 
          growth of this project, and I am even more happy to see that it is slowly becoming a springboard for 
          student start-ups.</p>
      <p class="author">- Victor Dinică</p>
    </div>
    <div class="testimonials-slide">
      <div class="image-container"><img
          class="pozaa"
          src="{{asset 'images/mentorc.jpeg'}}"
        /></div>
      <p>It always surprises me that every year another team or another idea brings back the enthusiasm I 
        had when I participated in hackathons. The mentor experience brings you close to the teams and you 
        get to live with them all the emotions of the competition and after, and the juror experience shows 
        you the seriousness that I can prove to students who set out to achieve something.</p>
      <p class="author">- Alex Ivan</p>
    </div>

    <!-- Next/prev buttons -->
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
  </div>

  <!-- Dots/bullets/indicators -->
  <div class="dot-container">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
  </div>
</div>

<script src="{{asset 'js/testimonials-carousel.js'}}"></script>