<div class="testimonials-container">
  <div class="slideshow-container">

    <!-- Full-width slides/quotes -->
    <div class="testimonials-slide">
      <div class="image-container"><img
          class="pozaa"
          src="{{asset 'images/mentor1.jpeg'}}"
        /></div>
      <p>Experința PoliHack a fost o ocazie unică de a întalni studenți și elevi
        pasionați de dezvoltarea de aplicații care au puterea de a contribui la
        un viitor mai verde. Toată lumea a venit cu idei și implementări foarte
        bune, fiecare în parte constituind o căramidă importantă pentru un acel
        viitor verde pe care toți îl dorim.</p>
      <p class="author">- Ioana Coste</p>
      <p class="position">Full stack Developer</p>
    </div>

    <div class="testimonials-slide">
      <div class="image-container"><img
          class="pozaa"
          src="{{asset 'images/mentor2.jpeg'}}"
        /></div>
      <p>Proiectele realizate m-au surprins deoarece nu mă așteptam să fie atât
        de diverse și de bine gândite și realizate într-un timp atât de scurt.
        Am vazut aplicații mobile, aplicații web, produse fizice cu componente
        mecanice sau chiar IOT atât de la echipe din studenți de anul 2, 3 cat
        și de liceu, ceea ce mi-a întrecut complet așteptările.</p>
      <p class="author">- Rareș Neșa</p>
      <p class="position">Full stack Developer</p>
    </div>

    <div class="testimonials-slide">
      <div class="image-container"><img
          class="pozaa"
          src="{{asset 'images/mentor3.jpeg'}}"
        /></div>
      <p>Experiența PoliHack atât ca participant cât și ca si mentor a fost o
        oportunitate de învațare și oarecum de relaxare datorită comunitații
        care s-a format in jurul proiectului. Polihack is a place where you can
        hang out and be productive at the same time.</p>
      <p class="author">- Hans Johrend</p>
      <p class="position"></p>
    </div>

    <!-- Next/prev buttons -->
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
  </div>

  <!-- Dots/bullets/indicators -->
  <div class="dot-container">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
  </div>
</div>

<script src="{{asset 'js/testimonials-carousel.js'}}"></script>