<div class="testimonials-container">
  <div class="slideshow-container">

    <!-- Full-width slides/quotes -->
    <div class="testimonials-slide">
      <div class="image-container"><img
          class="pozaa"
          src="{{asset 'images/mentor1.jpeg'}}"
        /></div>
      <p>Experinta PoliHack a fost o ocazie unica de a intalni studenti si elevi
        pasionati de dezvoltarea de aplicatii care au puterea de a contribui la
        un viitor mai verde. Toata lumea a venit cu idei si implementari foarte
        bune, fiecare in parte constituind o caramida importanta pentru un acel
        viitor verde pe care toti il dorim.</p>
      <p class="author">- Ioana Coste</p>
      <p class="position">Full stack Developer</p>
    </div>

    <div class="testimonials-slide">
      <div class="image-container"><img
          class="pozaa"
          src="{{asset 'images/mentor2.jpeg'}}"
        /></div>
      <p>Proiectele realizate m-au surprins deoarece nu ma asteptam sa fie atat
        de diverse si de bine gandite si realizate intr-un timp atat de scurt.
        Am vazut aplicatii mobile, aplicatii web, produse fizice cu componente
        mecanice sau chiar IOT atat de la echipe din studenti de anul 2, 3 cat
        si de liceu, ceea ce mi-a intrecut complet asteptarile.</p>
      <p class="author">- Rareș Neșa</p>
      <p class="position">Full stack Developer</p>
    </div>

    <div class="testimonials-slide">
      <div class="image-container"><img
          class="pozaa"
          src="{{asset 'images/mentor3.jpeg'}}"
        /></div>
      <p>Experienta PoliHack atat ca participant cat si ca si mentor a fost o
        oportunitate de invatare si oarecum de relaxare datorita comunitatii
        care s-a format in jurul proiectului. Polihack is a place where you can
        hang out and be productive at the same time.</p>
      <p class="author">- Hans Johrend</p>
      <p class="position"></p>
    </div>

    <!-- Next/prev buttons -->
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
  </div>

  <!-- Dots/bullets/indicators -->
  <div class="dot-container">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
  </div>
</div>

<script src="{{asset 'js/testimonials-carousel.js'}}"></script>