<link rel="stylesheet" href="../assets/css/carousel-testimonials.css">

<div class="slider auto-grid">
    <div class="slide">
        <img src="../assets/images/circle-2.jpg" />
        <p>as dsa asd as da a sfaf ssaf af af asf af sdf sa fsa fasfd ad fad f sad fsafd </p>
    </div>
    <div class="slide">
        <img src="../assets/images/images.jpg" />
        <p>litora torquent per conubia</p>
    </div>
    <div class="slide">
        <img src="../assets/images/circle-2.jpg" />
        <p>sed consectetur faucibus</p>
    </div>
    <div class="slide">
        <img src="../assets/images/images.jpg" />
        <p>eleifend tempus justo</p>
    </div>
</div>

<script src="../assets/js/carousel-testimonials.js"></script>