
*{
  font-family:tahoma, sans-serif;
 }
  .container {
 position: relative;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 20px;
  }

.card-grid {
  display: grid;
  gap: 2rem 1rem;
  margin: 0 auto;
  width: 90%;
  
}
.bg{
  background-image: url('/content/images/team/bg.png');
  width: 50%;
}
/* Large screens: 3 columns */
@media (min-width: 1024px) {
  .card-grid {
     grid-template-columns: repeat(3, 1fr);
      gap: 2rem; /* Spațiu între coloane */
      justify-content: center; /* Centrează conținutul */
      margin:0 auto;
      width: 65%;
  }
  
}

/* Medium screens: 2 columns */
@media (min-width: 768px) and (max-width: 1023px) {
  .card-grid {
      grid-template-columns: repeat(2, 1fr);
  }
}

/* Small screens: 1 column */
@media (max-width: 767px) {
  .card-grid {
      grid-template-columns: 1fr;
  }
}



.container img {
  width: 100%;
  height: 50vh;
  object-fit: cover;
  
  transition: 0.3s ease;
}


.container .card-body {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 10;
  background-color: rgba(0, 0, 0, 0); 
  color: #ffffff;
  opacity: 0;
  transition: opacity 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 0.2em;

}

.container:hover .card-body {
  opacity: 1;
}


  .container .card-body h2 {
 font-size: 3rem;
  font-weight: bold;
  
  
  }

  .container .card-body p.role {
  font-size: 2rem;
  margin-top: 0.5em;
  }
 .icon {
  color: #ffffff;
  font-size: 22px;
  transition: color 0.3s ease;
  text-decoration: none;
}

.icon:hover {
  color: #cccccc;
}
 .container .links {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
}
  .text{
      color:#ffffff;
      
      text-align:justify;
  }

  .h1{
      text-align:center;
     
       color: rgb(255, 255, 255); 
       font-size: 5vw; 
       margin-top: 0;
      
  }
 
.container_text {
  width: 80%;
  max-width: 100%; /* Set a maximum width */
  margin: 0 auto; /* Center the container */
  
}

.sectiuni {
  display: grid;
  grid-template-columns: repeat(1, 1fr); /* Default: 1 column */
  gap: 3rem;
  position: relative;
  background-image: url('/assets/images/logo_bun.png');
  background-position: center;
  background-size: contain; /* Ensures the entire image is visible */
  background-repeat: no-repeat; /* Prevents the image from repeating */
}

.sectiuni::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(30, 30, 30, 0.9); /* Semi-transparent layer */
  border-radius: 10px;
  z-index: 1; /* Layer is above the background image */
}

.sectiuni > div {
  position: relative;
  z-index: 2; /* Content appears above the overlay */
}

 .h2{
      text-align:center;
      font-size:2.5vw;
       color: rgb(255, 255, 255); 
      
      
  }

  @media (min-width: 1024px) {
  .h2 {
     font-size:2.5vw;
  }
  
}

/* Medium screens: 2 columns */
@media (min-width: 768px) and (max-width: 1023px) {
  .h2 {
      font-size:3vw;
  }
}

/* Small screens: 1 column */
@media (max-width: 767px) {
  .h2 {
     font-size:6vw;
  }
}


.web{ 
  border: 2px solid #ffffff; /* White border */
  border-radius: 10px; /* Optional: adds rounded corners */
  padding: 1rem; /* Optional: adds padding inside the border */
  background-color: rgba(255, 255, 255, 0.2);
  align-items: center; 

}

.app{ 
  border: 2px solid #ffffff; /* White border */
  border-radius: 10px; /* Optional: adds rounded corners */
  padding: 1rem; /* Optional: adds padding inside the border */
    background-color: rgba(255, 255, 255, 0.2);
    align-items: center; 

}
.web img, .app img {
  max-width: 100%;
  height: auto;
  margin-bottom: 1rem; /* Spațiu între imagine și restul conținutului */
}
.embedded{ 
  border: 2px solid #ffffff; /* White border */
  border-radius: 10px; /* Optional: adds rounded corners */
  padding: 1rem; /* Optional: adds padding inside the border */
    background-color: rgba(255, 255, 255, 0.2);

}
.junior{ 
  border: 2px solid #ffffff; /* White border */
  border-radius: 10px; /* Optional: adds rounded corners */
  padding: 1rem; /* Optional: adds padding inside the border */
  background-color: rgba(255, 255, 255, 0.2);

}
.pitch {
  border: 2px solid #761114;
  border-radius: 10px;
  padding: 1rem;
  background-color: rgba(118, 17, 20, 0.2);
  background-image: url('/assets/images/phfuture.png');
  background-repeat:no-repeat;
  background-size: 100%;
  background-position:center;
  
  
}

.pitch p {
  font-size: 1.5vw; /* Default font size based on viewport width */
}

/* For larger screens */
@media (min-width: 1024px) {
  .pitch p {
      font-size: 1.2vw; /* Smaller font size for larger screens */
  }
}

/* For smaller screens */
@media (max-width: 768px) {
  .pitch p {
      font-size: 3.5vw; /* Larger font size for small screens */
  }
}

/* For very small screens, like mobile phones */
@media (max-width: 480px) {
  .pitch p {
      font-size: 4vw; /* Even larger font size for very small screens */
  }
}

@media (min-width: 768px) {
  .sectiuni {
      grid-template-columns: repeat(2, 1fr); /* Medium screens: 2 columns */
  }
}

@media (min-width: 1024px) {
  .sectiuni {
      grid-template-columns: repeat(4, 1fr); /* Large screens: 4 columns */
  }
}



.scroll-container {
overflow-x: auto;
overflow-y: hidden;
white-space: nowrap;
width: 83%; /* Similar width to other content sections */
max-width: 100%;
margin: 0 auto; /* Center the container */
display: flex;
scrollbar-width: none; /* Firefox scrollbar removal */

}

.scroll-container::-webkit-scrollbar {
display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}

.scroll-container img {

height: 38vh; /* Adjust to desired image height */
object-fit: cover;


}

.networking{
  border: 0.2vw solid #ffffff; /* White border */
  border-radius: 10px; /* Optional: adds rounded corners */
  background-color: rgba(255, 255, 255, 0.2);
  width: 73%;
  margin: 0 auto;
 
}

.section1 {
  position: relative;
 
  border-radius: 10px;
  height:70%;
}

.section1, .sectiuni, .pitch {
  position: relative;
  width: 90%; /* Set a fixed width in percentage */
  
  margin: 0 auto; /* Center the container */
}

.section1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(30, 30, 30, 0.9); /* Strat semi-transparent peste imagine */
  border-radius: 10px;
  z-index: 1; /* Se asigură că stratul este deasupra imaginii */
}

.section1 > div {
  position: relative;
  z-index: 2; /* Conținutul apare deasupra stratului opac */
}
/* For larger screens, adjust the number of columns */
@media (min-width: 768px) {
  .sectiuni {
      grid-template-columns: repeat(2, 1fr); /* Medium screens: 2 columns */
  }
}

@media (min-width: 1024px) {
  .sectiuni {
      grid-template-columns: repeat(4, 1fr); /* Large screens: 4 columns */
  }
}


.polihack{

  border-radius: 10px; /* Optional: adds rounded corners */
  padding: 1vw; /* Optional: adds padding inside the border */
   width: 90%;
   margin: 0 auto;
 
}

.team{
   position: relative;
  background-image: url('/assets/images/team/TEAM.png');
  background-position: center;
  background-size: 30%; /* Make the image smaller */
  border-radius: 10px;
  height: 70%;
  background-color: rgba(30, 30, 30, 4); /* Increase transparency */
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 2;
}

/* Style the Image Used to Trigger the Modal */
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;

  }
}
