.custom-map{

    overflow:hidden;

    padding-bottom:60%;

    position:relative;

    height:0;

}

.csutom-map iframe{

    left:0;

    top:0;

    height:100%;

    width:100%;

    position:absolute;

}